<ion-content [fullscreen]="true">
  <ion-header>
    <img src="../../assets/images/home.png">
  </ion-header>
  <ion-button expand="block" class="ion-margin-top" [routerLink]="'/tabs/map/maptemple'">מפת בית המקדש</ion-button>
  <ion-button expand="block" class="ion-margin-top">גבולות הר הבית</ion-button>
  <ion-button expand="block" class="ion-margin-top">בית המקדש יורד מהשמיים</ion-button>
  <ion-button expand="block" class="ion-margin-top">קורבנות</ion-button>
  <ion-button expand="block" class="ion-margin-top">Ar Code</ion-button>
  <ion-button expand="block" class="ion-margin-top">משחקים</ion-button>
  <ion-button expand="block" class="ion-margin-top">לדף הבית</ion-button>
  <ion-button expand="block" class="ion-margin-top">מצפן</ion-button>
</ion-content>

