<ion-content [fullscreen]="true">
  <ion-header>
    <img src="../../assets/images/home.png">
  </ion-header>
  <ion-button expand="block" class="ion-margin-top" [routerLink]="'/tabs/siddur'">סידור</ion-button>
  <ion-button expand="block" class="ion-margin-top" [routerLink]="'/tabs/map'">מפה</ion-button>
  <ion-button expand="block" class="ion-margin-top" [routerLink]="'/tabs/halchut'">הלכות</ion-button>
  <ion-button expand="block" class="ion-margin-top" [routerLink]="'./privacy'">privacy</ion-button>
</ion-content>
